# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

| Objectives |
|------------|
| Some of the popular languages that Data Scientists use are |
| Some of the commonly used libraries used by Data Scientists include |
| Data Science Tools |
| Below are a few examples of evaluating arithmetic expressions in Python |

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Javascript

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook|
| Anaconda |
| RStudio |
| Google Colab |
| Git & GitHub/GitLab |

# Below are a few examples of evaluating arithmetic expressions in Python
- **Addition (`+`)** → `3 + 2 = 5`  
- **Subtraction (`-`)** → `7 - 4 = 3`  
- **Multiplication (`*`)** → `6 * 5 = 30`  
- **Division (`/`)** → `10 / 2 = 5.0`  
- **Floor Division (`//`)** → `10 // 3 = 3`  
- **Modulus (`%`)** → `10 % 3 = 1`  
- **Exponentiation (`**`)** → `2 ** 3 = 8`

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
m=int(input())
h=m/60
print(h)

 200

3.3333333333333335

## Author
Badhisatta Banerjee